.Cartcontent {
    display: grid;
    grid-template-columns: 100%;
}

.Cart-Product {
    width: 100%;
    float: left;
}

@media (min-width: 500px) {
    .Cartcontent {
        display: grid;
        grid-template-columns: 70% 30%;
    }
}