
.Products {
    width: 100%;
    float: left;
    padding-bottom: 2.5rem;
}

.Products-Option{
    height: 40px;
    box-sizing: border-box;
}

.Products-Button {
    width: 50%;
    font-size: 16px;
    border: 1px solid lightgray;
    background-color: white;
    height: 100%;
    text-align: center;
}