.ProductsList {
    display: grid;
    clear: both;
    grid-template-columns: 50% 50%;
    grid-row-gap: 20px;
}

@media (min-width: 500px) {
    .ProductsList {
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
}