.Search {
    text-align: right;
    float: right;
    cursor: pointer;
}

.Search-Textbox{
    width: 80%;
    border: 0px;
    border-bottom: 1px solid white;
    background-color:darkblue;
    color:white;
    float: left;
}

@media (min-width: 500px) {
    .Search {
        font-size: 20px;
    }

    .Search-Textbox{
        font-size: 16px;
    }
}