.Layout {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

.Layout-Footer {
    width: 100%;
    height: 20px;
    background-color: darkblue;
    color: white;
    padding: 15px 0px; 
    text-align: center;
    position: absolute;
    bottom: 0;
}