.App {
  position: relative;
  min-height: 100vh;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}


@media (min-width: 500px) {
  body {
      font-size: 16px;
  }
}