.Sort {
    width: 100%;
    float: left;
}

.Sort-Title{
    font-weight: bold;
    padding: 10px;
}

.Sort-Item {
    list-style: none;
    font-weight: bold;
    padding: 5px;
}

.Sort-Button {
    box-sizing: border-box;
}

.Sort-Button button {
    width: 50%;
    border: 1px solid;
    height: 40px;
    background-color: white;
    font-weight: bold;
    border: 1px solid grey;
    color: darkblue;
}

@media (min-width: 500px) {
    
    .Sort {
        box-sizing: border-box;
        padding: 10px;
        float: left;
    }

    .Sort-Title{
        float: left;
        padding-top: 15px;
    }

    .Sort-Item {
        display: inline;
    }

    .Sort-Item button{
        border: 0px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        color: grey;
    }

    .Sort-Item button.active {
        color: blue;
        border-bottom: 1px solid blue;
    }

}